<div id="browse">
    <div id="carousel">
    </div>
    <div id="browse-page">
        <span id="browse-menu">
            <div id="menu-categories">
                Afficher les résultats pour ...
            </div>
            <div id="menu-options">
                Affiner la recherche par ....
            </div>
        </span>

        <span id=browse-content>
            <div id="results-bar">
                <span id="results-count">1 /
                    <%= resultsPerPage %> sur
                        <%= nbResults %> résultats pour nom de catégorie / recherche</span>
                <span id="results-sorting-tools"> Trier par popularité / prix / note - Type de présentation (liste ou grille)</span>
            </div>
            <div id="product-list">
                <% products.forEach(function(product) { %>
                    <div class="product">
                        <div class="product-image">
                            <a href="/product/view?id=<%= product.id %>">
                                <img src=" <%= product.images[0].url %>" alt="Image du produit <%= product.name %>">
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="/product/view?id=<%= product.id %>" class="link2">
                                <%= product.name %>
                            </a>
                        </div>
                        <div class="product-brand"> de
                            <%= product.brand %>
                        </div>
                        <div class="product-price"> EUR
                            <%= product.offers[0].price %>
                                <% if(product.offers[0].sentByShopimax) { %>
                                    <span class="sbs">
                                        <img src="/images/sbs.png" alt="Envoyé par shopimax">
                                    </span>
                                    <% } else { %>
                                        <span class="deliveryFee"> + EUR
                                            <%= product.offers[0].deliveryFee %> Livraison
                                        </span>
                                        <% } %>
                        </div>
                        <div class="product-rating">
                            <% for (var i = 0; i < 5; i++) { %>
                                <i class="<%= (i < product.ratingAvg - 0.25)? (i < product.ratingAvg - 0.5)? 'fas fa-star' : 'fas fa-star-half-alt' : 'far fa-star'%>"></i>
                                <% } %>
                                    <a href="/product/view?id=<%= product.id %>#reviews" class="commentCount link2">
                                        <%= product.commentCount %>
                                    </a>
                        </div>
                        <% if (product.offers[0].sentByShopimax) { %>
                            <div class="freeDelivAvailable">Livraison gratuite possible.</div>
                            <% } %>
                    </div>
                    <% }); %>
            </div>
            <div id="page-navigation">
                Page précédente / suivante
            </div>
        </span>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>