<div id="browse">
    <div id="carousel">
    </div>
    <section id="browse-page">
        <section id="browse-menu">
            <div id="menu-categories">
                <h2>Catégories : </h2>
                <% if(!category.parent){ %>
                <ul>
                <h3>
                    <%= category.friendlyName %>
                </h3>
                <% } else { %>
                <ul>
                <h4>
                    <a href="/browse/1/<%= category.parent.id %>" class="link2"><%= category.parent.friendlyName %></a>
                </h4>
                <ul>
                    <h3>
                        <%= category.friendlyName %>
                    </h3>
                </ul>
                <% } %>
                    <% if(category.children){ %>
                    <% category.children.forEach(function(children) { %>
                        <li>
                            <a href="/browse/1/<%= children.id %>" alt="" class="link3">
                                <%= children.friendlyName %>
                            </a>
                        </li>
                        <% }); %>
                    <% } %>
                </ul>
            </div>
            <div id="menu-options">
                <h2>Critères additionnels : </h2>
            </div>
        </section>

        <div id="browse-content">
            <div id="results-bar">
                <span id="results-count">Produits
                    <%= (pageNavigation.currentPage * resultsPerPage) - resultsPerPage + 1 %> à
                        <% if((pageNavigation.currentPage * resultsPerPage) < nbResults) { %>
                            <%= pageNavigation.currentPage * resultsPerPage %> sur
                        <% } else { %>
                        <%= nbResults %> sur
                        <% } %>
                                    <%= nbResults %> résultats pour
                                        <%= category.name %> / recherche</span>
                <span id="results-sorting-tools"> Trier par popularité / prix / note - Type de présentation (liste ou grille)</span>
            </div>
            <div id="product-list">
                <% products.forEach(function(product) { %>
                    <div class="product">
                        <a href="/show/<%= product.id %>" class="link2">
                            <div class="product-image">
                                <img src=" <%= product.images[0].url %>" alt="Image du produit <%= product.name %>">
                            </div>
                            <div class="product-name">
                                <%= product.name %>
                            </div>
                        </a>
                        <div class="product-brand"> de
                            <%= product.brand %>
                        </div>
                        <div class="product-price"> EUR
                            <%= product.offers[0].price %>
                                <% if(product.offers[0].sentByShopimax) { %>
                                    <span class="sbs">
                                        <img src="/images/sbs.png" alt="Envoyé par shopimax">
                                    </span>
                                    <span class="deliveryFee">
                                    <% } else if (product.offers[0].deliveryFee > 0) { %>
                                         + EUR
                                            <%= product.offers[0].deliveryFee %> Livraison
                                    
                                        <% } %>
                                    </span>
                        </div>
                        <% if (product.offers[0].sentByShopimax) { %>
                            <div class="freeDelivAvailable">Livraison gratuite possible.</div>
                            <% } else if (product.offers[0].deliveryFee == 0) { %>
                            <div class="freeDelivAvailable">Livraison gratuite.</div>
                            <% } %>
                                <div class="product-rating">
                                <%= product.ratingAvg %>
                                    <% for (var i = 0; i < 5; i++) { %>
                                        <i class="<%= (i < product.ratingAvg - 0.25)? (i < product.ratingAvg - 0.5)? 'fas fa-star' : 'fas fa-star-half-alt' : 'far fa-star'%>"></i>
                                        <% } %>
                                            <a href="/show/<%= product.id %>#reviews" class="commentCount link3">
                                                <%= product.commentCount %>
                                            </a>
                                </div>
                    </div>
                    <% }); %>
            </div>

            <div class="page-navigation">
                <% if (pageNavigation.lastPage < 12) { %>
                    <% for (var i = pageNavigation.firstPage; i <= pageNavigation.lastPage; i++) { %>
                        <% if (pageNavigation.currentPage==i) { %>
                            <span id="current-page">
                                <%= i %>
                            </span>
                            <% } else { %>
       <a href="/browse/<%= i %>/<%= category.id %>">
           <%= i %>
       </a>
       <% } %>
           <% } %>
               <% } else { %>
                   <% for (var i = pageNavigation.firstPage; i <= Math.min(3, Math.max(pageNavigation.currentPage - 4, 3)); i++) { %>
                       <% if (pageNavigation.currentPage == i) { %>
                           <span id="current-page">
                               <%= i %>
                           </span>
              <% } else { %>
                  <a href="/browse/<%= i %>/<%= category.id %>">
                      <%= i %>
                  </a>
                  <% } %>
                      <% } %>
                          <% if (pageNavigation.currentPage > 7) { %>
          <span class> ... </span>
          <% } %>
              <% for (var j = Math.max(4, pageNavigation.currentPage - 3); j <= Math.min(pageNavigation.lastPage, pageNavigation.currentPage + 3); j++) { %>
                  <% if (pageNavigation.currentPage == j) { %>
                      <span id="current-page">
                          <%= j %>
                      </span>
                      <% } else { %>
                          <a href="/browse/<%= j %>/<%= category.id %>">
                              <%= j %>
                          </a>
                          <% } %>
                              <% } %>
                                  <% if (pageNavigation.lastPage > (pageNavigation.currentPage +3)) { %>
                                      <span class="end-page"> ...
                                          <a class="last-page" href="/browse/<%= pageNavigation.lastPage %>/<%= category.id %>">
                                              <%= pageNavigation.lastPage %>
                                          </a>
                                      </span>
                                      <% } %>
                                          <% } %>
            </div>

        </div>
    </section>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>