<div id="show">
    <span id="product-pictures">
        <span id="picture-select-bar">
            <% product.images.forEach(function(image) { %>
                <div class="image-miniature">
                    <img src="<%= image.url %>" alt="Miniature de la photo <%= image.order %> du produit">
                </div>
                <% }); %>
        </span>
        <span id="product-picture-frame">
            <img src=" <%= product.images[0].url %>" alt="Image du produit <%= product.name %>">
        </span>
    </span>
    <span id="product-file">
        <h1 id="product-name">
            <%= product.name %>
        </h1>
        <div id="product-brand">
            de
            <%= product.brand %>
        </div>
        <div id="product-comments-summary">
            <% for (var i = 0; i < 5; i++) { %>
                <i class="<%= (i < product.ratingAvg - 0.25)? (i < product.ratingAvg - 0.5)? 'fas fa-star' : 'fas fa-star-half-alt' : 'far fa-star'%>"></i>
                <% } %>
                    <a href="/show/<%= product.id %>#reviews" class="commentCount link3">
                        <%= product.commentCount %>
                    </a>
        </div>
        <div id="product-price">
            EUR
            <%= product.offers[0].price %>
        </div>
        <div id="product-stock">
        <% if (product.offers[0].remainingStock > 10) {%>
            <div id="product-frame-stock" class="text-success"><%= product.offers[0].remainingStock %> produits restants.</div>
        <% } else if(product.offers[0].remainingStock == 0) { %>
            <div id="product-frame-stock" class="text-danger">Aucun produit en stock.<br/> Renouvellement estimé : 5-7 jours.</div>
        <% } else { %>
            <div id="product-frame-stock" class="text-warning">Plus que <%= product.offers[0].remainingStock %> produits restants !</div>
        <% } %>
        </div>
        <div id="product-delivery">
        <%
        var delivDate = new Date(new Date().getTime() + 72 * 60 * 60 * 1000);
        var day = delivDate.getDate()
        var month = delivDate.getMonth() + 1
        var year = delivDate.getFullYear()
        %>
            Faites-vous livrer entre le <%= delivDate.getDate() %> et le <%= delivDate.getDate() + 1 %> en choisissant la Livraison Prioritaire lors du passage de commande !
        </div>
        <div id="product-sender-seller">
        <% if (product.offers[0].sentByShopimax) { %>
        Expédié par Shopimax, vendu par <%= product.offers[0].seller[0].companyName %>
        <% } else { %>
        Expédié et vendu par <%= product.offers[0].seller[0].companyName %>
        <% } %>
        </div>
        <div id="product-alt-offers">
        </div>
        <div id="product-variations">
        </div>
        <div id="product-details">
            <h2>Descriptif technique :</h2>
            <ul>
                <% for(let entry in product.details) { %>
                    <li>
                        <span class="feature"><%= entry %></span> :
                            <span class="feature-value"><%= product.details[entry] %></span>
                    </li>
                    <% } %>
            </ul>
        </div>
    </span>
    <span id="product-sell-frame">
    <div id ="main-offer">
        <div id="product-frame-price">
            EUR
            <%= product.offers[0].price %>
            <% if (product.offers[0].sentByShopimax || product.offers[0].deliveryFee == 0) {%>
                <span class="deliveryFee text-success">Livraison gratuite</span>
            <% } else { %>
                <span class="deliveryFee">+ EUR <%= product.offers[0].deliveryFee %> Livraison</span>
            <% } %>
        </div>
        <% if (product.offers[0].remainingStock > 10) {%>
            <div id="product-frame-stock" class="text-success"><%= product.offers[0].remainingStock %> produits restants.</div>
            <% } else if(product.offers[0].remainingStock == 0) { %>
            <div id="product-frame-stock" class="text-danger">Aucun produit en stock.<br/> Renouvellement estimé : 5-7 jours.</div>
            <% } else { %>
            <div id="product-frame-stock" class="text-warning">Plus que <%= product.offers[0].remainingStock %> produits restants !</div>
            <% } %>
        <span id="product-frame-sender-seller">
        </span>
        <div class="offer-addtoBasket">
                    <a href="/basket/add/<%= product.offers[0].id %>">
                        <button id="addToBasket" class="btn">
                        <i class="fas fa-shopping-basket"></i> Ajouter au panier
                        </button>
                    </a>
            </div>
        </div>
        <div id="list-offers">
            <h2 id="list-offers-title">Autres vendeurs Shopimax ... </h2>
            <% for(let i = 1; i < product.offers.length; i++) { %>
            <div class="offer">
                <div class="sellerName"><%= product.offers[i].seller[0].companyName %></div>
                <div class="offerType"><% switch (product.offers[i].type) {
                    case 'Neuf' : %>
                            <span class="produit-neuf">Produit neuf</span>
                            <% break;

                    case 'Reconditionné' : %>
                            <span class="produit-recond">Produit reconditionné</span>
                            <% break;

                    case 'Occasion' : %>
                            <span class="produit-occasion">Produit d'occasion</span>
                            <% break;

                    } %>
                </div>
                
                <span class="offerPrice">EUR <%= product.offers[i].price %></span>
                <% if (product.offers[i].sentByShopimax || product.offers[i].deliveryFee == 0) {%>
                    <span class="deliveryFee text-success">Livraison gratuite</span>
                <% } else { %>
                <span class="deliveryFee">+ EUR <%= product.offers[i].deliveryFee %> Livraison</span>
                <% } %>
                <% if (product.offers[i].remainingStock > 10) {%>
                    <div id="product-frame-stock" class="text-success"><%= product.offers[i].remainingStock %> produits restants.</div>
                <% } else if(product.offers[0].remainingStock == 0) { %>
                    <div id="product-frame-stock" class="text-danger">Aucun produit en stock.<br/> Renouvellement estimé : 5-7 jours.</div>
                <% } else { %>
                    <div id="product-frame-stock" class="text-warning">Plus que <%= product.offers[i].remainingStock %> produits restants !</div>
                <% } %>
                <div class="offer-addtoBasket">
                    <a href="/basket/add/<%= product.offers[i].id %>">
                        <button id="addToBasket" class="btn">
                        <i class="fas fa-shopping-basket"></i> Ajouter au panier
                        </button>
                    </a>
                </div>
            </div>
            <% } %>
            <div id="more-offers">
                <a href="/offers/show/<%= product.id %>" ><button class="btn btn1">Voir plus d'offres pour ce produit.</button></a>
            </div>
        </div>
    </span>
    <span id="reviews"></span>
    <% if(typeof product.comments !== 'undefined') { %>
        <div id="comments-list">
        <h1>Retours utilisateurs : </h1>
            <% for(let i = 0; i < product.comments.length; i++) { %>
                <div class="product-comment">
                <span class="comment-date">Envoyé le <%= product.comments[i].date %> par <span class="author-name">Anonyme</span></span>
                <div class="rating">Note : 
                <% for (let j = 0; j < 5; j++) { %>
                    <i class="<%= (j < product.comments[i].rating - 0.25)? (j < product.comments[i].rating - 0.5)? 'fas fa-star' : 'fas fa-star-half-alt' : 'far fa-star'%>"></i>
                <% } %>
                </div>
                    <p class="comment-content"><%= product.comments[i].content %></p>
                </div>
            <% } %>
        </div>
    <% } %>
</div>